@model IEnumerable<Shop.Models.Article>
@{
    ViewData["Title"] = "Index-js";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>

@if(!Model.Any())
{
    <h2>Your cart is empty</h2>
}
else
{
    <h2>Your cart</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Barcode
                </th>
                <th>
                    Photo
                </th>
                <th>
                    Product name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Weight
                </th>
                <th>
                    Expiration date
                </th>
                <th>
                    Country of origin
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BarCode)
                    </td>
                    <td>
                        @if (item.FileName != null)
                        {
                            <img src="@Url.Content("~/upload/" + item.FileName)" width="70" height="70">
                        }
                        else
                        {
                            <img src="~/image/no_image.png" width="70" height="70">
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                        <text>€</text>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                        <text> kg</text>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpirationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryOfOrigin)
                    </td>
                    <td>
                        @ViewBag.ProductQuantities[item.Id]
                    </td>
                    <td width="200px">
                        <button class="btn btn-success btn-add-more" id="@item.Id">&#x2b;</button>
                        <button class="btn btn-info btn-decrease" id="@item.Id">&#x2212;</button>
                        <button class="btn btn-danger btn-delete" id="@item.Id">&#x2715;</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Your cart value is: @ViewBag.CartValue &euro;</p>
}

</body>
