@model Shop.Models.Category

<h1>Products in @Model.CategoryName</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Barcode
            </th>
            <th>
                Photo
            </th>
            <th>
                Product name
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Articles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarCode)
                </td>
                <td>
                    @if (item.FileName != null)
                    {
                        <img src=@item.FileName width="70" height="70">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                    <text>€</text>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td width="100px">
                    <a asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-success">Add to cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
