@model IEnumerable<Shop.Models.Article>
@{
    ViewData["Title"] = "Checkout";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="form-validation.css" rel="stylesheet">
    <script>
        function updatePaymentMethod(method) {
            document.getElementById('PaymentMethod').value = method;
        }
    </script>
</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
                </svg>
            </h1>
            <h2>Checkout</h2>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">@Model.Count()</span>
                </h4>
                <ul class="list-group mb-3">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">@Html.DisplayFor(modelItem => item.ProductName)</h6>
                                <small class="text-muted">
                                    <text>Quantity: </text>
                                    @ViewBag.ProductQuantities[item.Id]
                                </small>
                            </div>
                            <span class="text-muted">
                                @Html.DisplayFor(modelItem => item.Price)
                                <text>€</text>
                            </span>
                        </li>

                    }
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>No code</small>
                        </div>
                        <span class="text-success">-$0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total</span>
                        <strong>@ViewBag.CartValue &euro;</strong>
                    </li>
                </ul>

                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Billing address</h4>
                <form asp-controller="Checkout" asp-action="ShowConfirmation" method="post">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="FirstName">First name</label>
                            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="LastName">Last name</label>
                            <input type="text" class="form-control" id="LastName" name="LastName" placeholder="" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="Address">Address</label>
                        <input type="text" class="form-control" id="Address" name="Address" placeholder="Spacerowa 123" required>
                    </div>

                    <div class="mb-3">
                        <label for="Address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="Address2" placeholder="Apartment or suite">
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="City">City</label>
                            <input type="text" class="form-control" id="City" name="City" placeholder="Wrocław" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="State">State</label>
                            <select class="custom-select d-block w-100" id="State" name="State">
                                <option value="">Choose...</option>
                                <option value="dolnośląskie">dolnośląskie</option>
                                <option value="kujawsko-pomorskie">kujawsko-pomorskie</option>
                                <option value="lubelskie">lubelskie</option>
                                <option value="lubuskie">lubuskie</option>
                                <option value="łódzkie">łódzkie</option>
                                <option value="małopolskie">małopolskie</option>
                                <option value="mazowieckie">mazowieckie</option>
                                <option value="opolskie">opolskie</option>
                                <option value="podkarpackie">podkarpackie</option>
                                <option value="podlaskie">podlaskie</option>
                                <option value="pomorskie">pomorskie</option>
                                <option value="śląskie">śląskie</option>
                                <option value="świętokrzyskie">świętokrzyskie</option>
                                <option value="warmińsko-mazurski">warmińsko-mazurski</option>
                                <option value="wielkopolskie">wielkopolskie</option>
                                <option value="zachodniopomorskie">zachodniopomorskie</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Zip">Zip</label>
                            <input type="text" class="form-control" id="Zip" name="Zip" placeholder="">
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="SameAddress">
                        <label class="custom-control-label" for="SameAddress">Shipping address is the same as my billing address</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="SaveInfo">
                        <label class="custom-control-label" for="SaveInfo">Save this information for next time</label>
                    </div>
                    <hr class="mb-4">

                    <h4 class="mb-3">Payment</h4>
                    <div class="d-block my-3">
                        <input type="hidden" id="PaymentMethod" name="PaymentMethod" value="CreditCard">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="PaymentMethod" type="radio" class="custom-control-input" checked onchange="updatePaymentMethod('CreditCard')">
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="PaymentMethod" type="radio" class="custom-control-input" onchange="updatePaymentMethod('DebitCard')">
                            <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="PaymentMethod" type="radio" class="custom-control-input" onchange="updatePaymentMethod('PayPal')">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" >
                            <small class="text-muted">Full name as displayed on card</small>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" >
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="">
                        </div>
                    </div>
                    <hr class="mb-4">

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                </form>
            </div>
        </div>
</body>
</html>
